---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import Skills from "../components/sections/Skills.astro";
import Projects from "../components/sections/Projects.astro";
import Contact from "../components/sections/Contact.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <div class="w-full h-px bg-linear-to-r from-border from-80% to-transparent">
    </div>
    <Experience />
    <div class="w-full h-px bg-linear-to-r from-border from-80% to-transparent">
    </div>
    <Skills />
    <div class="w-full h-px bg-linear-to-r from-border from-80% to-transparent">
    </div>
    <Projects />
    <div class="w-full h-px bg-linear-to-r from-border from-80% to-transparent">
    </div>
    <Contact />
  </main>
  <Footer />
</Layout>
