---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import Skills from "../components/sections/Skills.astro";
import Projects from "../components/sections/Projects.astro";
import Contact from "../components/sections/Contact.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <div class="w-full border-t border-border"></div>
    <Experience />
    <div class="w-full border-t border-border"></div>
    <Skills />
    <div class="w-full border-t border-border"></div>
    <Projects />
    <div class="w-full border-t border-border"></div>
    <Contact />
  </main>
  <Footer />
</Layout>
